@font-face {
    font-family: "fira-sans-regular";
    src: url('/fonts/Fira_Sans/FiraSans-Regular.ttf'),
    url('/fonts/Fira_Sans/FiraSans-Light.ttf');
}

@font-face {
    font-family: "fira-sans-bold";
    src: url('/fonts/Fira_Sans/FiraSans-Bold.ttf'),
    url('/fonts/Fira_Sans/FiraSans-Black.ttf');
}
